@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

* {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	letter-spacing: 1px;
}

body {
	height: fit-content;
	min-height: 100vh;
	width: 100vw;
	color: #fff;
	background-color: #202020;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	cursor: pointer;
	margin: 2rem auto;
	padding: 0.75rem 1.5rem;
	font-size: 1.5rem;
	color: #fff;
	background-color: #000;
	border: 1px solid #00ff88;
	box-shadow: 0.3rem 0.3rem 0 #00ff88;
	transition: all 0.2s linear;
}

button:hover {
	color: #00ff88;
	box-shadow: 0 0 0 0 #00ff88;
	transform: translate(0.25rem, 0.25rem);
}

button:active {
	scale: 1.2;
}

.boxes {
	height: 500px;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	transition: 1s ease;
}

.boxes.big {
	height: 600px;
	width: 600px;
}

.boxes.big .box {
	transform: rotateZ(360deg);
}

.box {
	height: 125px;
	width: 125px;
	background-image: url("https://media.giphy.com/media/IdgY2UlsldmhsxHpec/giphy-downsized-large.gif");
	background-repeat: no-repeat;
	background-size: 500px 500px;
	position: relative;
	transition: 0.5s ease;
}

.box::after {
	content: "";
	background-color: #00ff88;
	position: absolute;
	top: 0.25rem;
	right: -0.5rem;
	height: 100%;
	width: 0.5rem;
	transform: skewY(45deg);
}

.box::before {
	content: "";
	background-color: #9900ff;
	position: absolute;
	bottom: -0.5rem;
	left: 0.25rem;
	height: 0.5rem;
	width: 100%;
	transform: skewX(45deg);
}

a {
	text-decoration: none;
	color: #fff;
	transition: all 0.2s linear;
}

a:hover {
	font-size: 1.2rem;
	color: #9900ff;
	text-shadow: 0 0 1rem #9900ff;
}
